@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kameron:wght@400..700&display=swap');


.nav-items{
  display:inline-block; 
  margin-right:80px;
  text-decoration: none;
  justify-content:space-between;
  
}
.ang{
 
  text-align: center;
  display:inline-block; 
  margin-right:20px;
  justify-content: center;
  text-transform: capitalize;
  font-family:"Kameron", serif; 
  text-decoration: none;
}

